# =========================
# AMBIENTES VIRTUAIS
# =========================
venv/
env/
.venv/

# =========================
# CACHE E ARQUIVOS COMPILADOS PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# SEGURANÇA (Senhas e Chaves)
# =========================
.env

# =========================

